.visual {
  width: 100%;
  height: auto;
}

.title {
  margin-top: 16px;
  font-weight: bold;
}

.category {
  margin-top: 8px;
  position: relative;
  z-index: 1;
  color: deepskyblue;
  font-size: 0.9rem;
}

.content {
  margin-top: 32px;
}
